@media only screen and (max-width: 600px) {
    .bigCont{background-color: rgb(231, 220, 222)};

    }
  
    @media only screen and (max-width:600px) {
        .footer#foot{font-size: 10px;
            background-color: blue;
        }
    }

    @media only screen and (max-width:600px) {
        .calContainer {
            max-height: 80vh;
            max-width:  50vh;
        }
    }

    @media only screen and (max-width: 600px){
        button{
            max-width: 7vh;

        }
            
        }
    




@font-face {
    font-family: "Poppins";
    src: url(../calculator_project/Poppins-Light.ttf) 
  }
  body{
    font-family: Poppins, sans-serif;
  }


.bigCont{
    display: flex;
    min-height: 10rem;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 95vh;
    overflow: hidden;
    background-color: rgb(183, 110, 121);
}

.calContainer{
    border: 8px solid rgb(89, 67, 90);
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    width: 30rem;
    height: 50rem;
    margin: auto;
    align-items: center;
    background-color: white;;
    box-shadow: 6px 6px 6px 6px grey;
}

.outputBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border: 2px solid black;
    height: 8.8rem;
    margin: .1rem;
    margin-top: 3.5rem;
    margin-bottom: 4.5rem;
    width: 85%;
    background-color: #737380

}

#show{

    align-self: flex-start;
}


.output{
    font-size: 4rem;
    align-self: center;
}

.errorMessage{
    font-size: 2rem;
    text-align: center;
}

.number,
#decimal{
    background-color: #C8A2CB;
}

.operations,
#equals,
.ACoperations,
.negative{
background-color: #e3b1b1;
}

#del{
    background-color: rgb(216, 131, 131)
}


button{
    width: 5rem;
    height: 4rem;
    flex-grow: none;
    border-radius: 8px;
    margin-top: 2px;
    margin-bottom: 2px;
    transition: all 1s ease;
    font-family: Poppins, sans-serif;
}

button:hover{
    filter: brightness(.80);
    border: none;
}


.buttonContainer{

    display: grid;
    width: 85%;
    height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: .2rem;
}

h1{
    text-align: center;
    margin: .1rem;
    margin-top: .5rem;
    margin-bottom: 0%;
    font-size: 3rem;
}

.footer{
background-color: rgb(89, 67, 90);
color: #eeeeee;
font-size: 24px;
display: flex;
align-items: center;
justify-content: center;
min-height: 5vh;
}