.calContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outputBox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    height: 3rem;
    border: .2rem solid black;
    margin: 2rem;
}

button{
    width: 3.5rem;
    height: 3rem;
    margin: .5rem;
}

.numberContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

h1{
    text-align: center;
}